footer {
    background-color: var(--footer-color);
    padding: var(--padding-xl);
}



.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: var(--padding-medium);
    border-bottom: 1px solid black;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-small);
    width: 30%;
    text-align: left;
}

.newsletter__button {
    padding: var(--padding-xs);
    background-color: var(--button-color);
    flex-grow: 0x;
    width: 100px;
    border: none;
    border-radius: var(--border-radius);
}

.support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-small);
    width: 30%;
    text-align: center;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-small);
    width: 30%;
    text-align: right;
}