

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-medium);
}

.navbar__links {
    display: flex;
    gap: 5rem;
    padding-right: var(--padding-large);
}

.navbar__display {
    border-bottom: 3px solid transparent;
}

.navbar__display:hover {
    border-bottom: 3px solid var(--font-color-dark);
}

.navbar__order {
    border-bottom: 3px solid transparent;
}

.navbar__order:hover {
    border-bottom: 3px solid var(--font-color-dark);
}