header {
    border-bottom: 1px solid black;
}

main {
    padding: var(--padding-large);
}

.hero__container {
    display: flex;
    justify-content: space-around;
}

.hero__car-heading {
    padding-bottom: var(--padding-medium);
}

.hero__car {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.hero__car-image {
    width: 100%;
}

.hero__specifications {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
}

.hero__specification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-xs);
}

.hero__specification-options > label {
    padding-left: 1rem;
}

.hero__specification {
    display: flex;
    align-items: center;
}

.hero__summary {
    padding-top: var(--padding-large);
}

.hero__summary-price {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-small) 0;
    border-bottom: 1px solid black;
}

.hero__summary-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small) 0;
    border-bottom: 1px solid black;
}

.hero__summary_payment-button {
    background-color: transparent;
    border: none;
}