:root {
    --background-color: #EAEBE0;
    --foreground-color: red;
    --footer-color: #9DA494;
    --font-color-dark: black;
    --font-color-light: white;
    --padding-xs: 0.5rem;
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --padding-large: 3rem;
    --padding-xl: 4rem;
    --border-radius: 0.4rem;
    --button-color: #C2C2C280;
    --button-color-hover: #D2D8E1;
}